<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>ログイン</h1>
    <form method="POST" action="{{ url_for('login') }}">

      <div class="form-group">
        <label for="username">ユーザ名</label>
        <input type="text" id="username" name="username" required>
      </div>
      
      <div class="form-group">
        <label for="password">パスワード</label>
        <input type="password" id="password" name="password" required>
      </div>

      <div class="form-group">
        <label for="confirm_password">パスワード(確認用)</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
      </div>

      <button type="submit" class="btn">ログイン</button>
      {% if error_message %}
      <p style="color: red;">{{ error_message }}</p>
      {% endif %}
      <br><br>
      <a href="/register_user">戻る</a>
    </form>
  </div>
</body>
</html>
